* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}
body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 3em 3em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 2px 2px 50px #0f0f0f31;
  padding: 10px 20px;
  position: fixed;
  width: 100vw;
  z-index: 1000;
  background: #fff;
}

.nav__logo {
  font-size: 34px;
  font-weight: 700;
}

.game {
  color: #dc3545;
}

.store {
  color: #343a40;
}

.nav__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__navigationA {
  margin-left: 10px;
}

.nav__navigationBtn {
  border-radius: 10px;
  border: 2px solid #343a40;
  font-weight: 600;
  font-size: 17px;
}

@media (max-width: 435px) {
  .nav__logo {
    font-size: 30px;
    font-weight: 700;
  }
}
@media (max-width: 399px) {
  body > header > nav > a.nav__navigationA.signup {
    display: none;
  }
}
