<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up to Game store</title>
        <link rel="shortcut icon" href="./favicon.png" type="image/png">

    {{>bootstrap}}
    <link rel="stylesheet" href="./css/signup.css">
</head>

<body>
    <div class="container">
        <div class="card main">
            <div class="card-header heading">
                <h1>
                    <span>
                        Sign
                    </span>
                    Up
                </h1>
                <div class="divider"></div>
                <a href="/" class="home_link">
                    <div class="logo">
                        <span class="game">
                            Game
                        </span><span class="store">
                            Store
                        </span>
                    </div>
                </a>

            </div>
            <form class="card-body" id="signup-form">
                <div class="input-group mb-3">
                    <label class="col-sm-2 col-form-label" for="firstName">Name</label>
                    <div class="input-group row-sm-10">
                        <input name="firstName" id="firstName" type="text" aria-label="First name" class="form-control"
                            placeholder="First name here..."
                            style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                        <input name="lastName" id="lastName" type="text" aria-label="Last name" class="form-control"
                            placeholder="Last name here..."
                            style="border-top-right-radius: 8px; border-bottom-right-radius: 8px;">
                    </div>
                </div>

                <div class="mb-3 " id="gender">
                    <label class="col-sm-2 col-form-label">Gender</label>
                    <div class="form-check form-check-inline">
                        <input id="male" value="male" checked type="radio" name="gender" class="form-check-input">
                        <label class="form-check-label" for="male">Male</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input id="female" value="female" type="radio" name="gender" class="form-check-input">
                        <label class="form-check-label" for="female">Female</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input id="others" value="others" type="radio" name="gender" class="form-check-input">
                        <label class="form-check-label" for="others">others</label>
                    </div>
                </div>


                <div class="input-group mb-3">
                    <label for="email" class="col-sm-2 col-form-label">Email</label>
                    <div class="input-group col-sm-10">
                        <input name="email" style="border-radius: 8px;" type="email" class="form-control" id="email"
                            placeholder="Enter your Email here...">
                    </div>
                </div>
                <div class="input-group mb-3">
                    <label class="col-sm-2 col-form-label" for="password">Password</label>
                    <div class="input-group row-sm-10">
                        <input name="password" type="password" id="password" aria-label="First name"
                            class="form-control" placeholder="Password here..."
                            style="border-top-left-radius: 8px; border-bottom-left-radius: 8px;">
                        <button class="view-password-button" id="view-password-btn" type="button">
                            <svg width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </button>
                        <input name="confirmPassword" type="password" id="confirmPassword" aria-label="Last name"
                            class="form-control" placeholder="Confirm Password here..."
                            style="border-top-right-radius: 8px; border-bottom-right-radius: 8px;">
                        <button class="view-password-button" id="view-confirmPassword-btn" type="button">
                            <svg width="20" height="20" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="nav">
                    <a href="/signin">
                        <button type="button" class="btn btn-danger LinkButton">Sign In</button>
                    </a>
                    <button type="Submit" class="btn btn-dark button" id="submit">
                        Sign Up
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Alert</strong>
                <button type="button" class="btn-close" id="close-button" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
            <div class="toast-body" style="font-weight: 600; font-size: 16px;" id="message">
            </div>
        </div>
    </div>
    <script src="./js/signup.js"></script>
</body>

</html>