<section class="aboutUs">
    <div class="card__area">
        <div class="card__heading">
            <h1>
                <span>
                    About
                </span>
                Us
            </h1>
        </div>
        <div class="card__body">
            <h6 class="card__bodyText">
               Digital games were already rising as a favorite pastime prior to the global pandemic; however, the global crisis catalyzed the whole process as it disrupted physical forms of entertainment.
            </h6>
        </div>
    </div>
</section>
