<section class="aboutUs">
    <div class="card__area">
        <div class="card__heading">
            <h1>
                <span>
                    Contact
                </span>
                Information
            </h1>
        </div>
        <div class="card__body">
            <div class="input-group mb-3">
                <label class="col-sm-7 col-form-label" style="font-weight: 600;">Phone Number</label>
                <div class="input-group row-sm-10">
                    <h4>+91 9878409588</h4>
                </div>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-7 col-form-label" style="font-weight: 600;">Email</label>
                <div class="input-group row-sm-10">
                    <h4>Hardeeppundeer29@gmail.com</h4>
                </div>
            </div>
            <div class="input-group mb-3">
                <label class="col-sm-7 col-form-label" style="font-weight: 600;">Address</label>
                <div class="input-group row-sm-10">
                    <h4>st no.4 gameplaza urban estate ludhiana Punjab</h4>
                </div>
            </div>
        </div>
    </div>
</section>
