<section class="bookYourOrder">
    <div class="card bookYourOrderCard">
        <div class="card-header heading">
            <h1>
                <span>
                    Contact
                </span>
                Us
            </h1>
        </div>
        <form class="card-body">
            <div class="input-group mb-3">
                <label for="productName" class="col-md-7 col-form-label form-label">Name</label>
                <div class="input-group row-sm-10">
                    <input name="productName" style="border-radius: 8px;" type="text" class="form-control"
                        id="productName" placeholder="Enter your Name here...">
                </div>
                <label for="address" class="col-sm-2 col-form-label form-label">Email</label>
                <div class="input-group row-sm-10">
                    <input name="address" style="border-radius: 8px;" type="text" class="form-control" id="address"
                        placeholder="Enter your Email here...">
                </div>
                <label for="otherDetails" class="col-md-2 col-form-label form-label">Message</label>
                <div class="input-group row-sm-10">
                    <textarea name="otherDetails" class="form-control" style="border-radius: 8px;" id="otherDetails"
                        rows="5" placeholder="Enter your Message here..."></textarea>
                </div>
            </div>

            <div class="SubmitNav">
                <button type="Submit" class="btn btn-dark button" id="submit">Send</button>
            </div>
        </form>
    </div>
</section>
